<cs-header>
  <p levels>cars</p>

  <div content>
    <p>List of cars in service</p>
  </div>
</cs-header>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table *ngIf="cars && cars.length > 0; else noCarsInfo" class="cs-table table table-striped">
                <thead>
                    <tr>
                        <th>car</th>
                        <th>plate</th>
                        <th>delivery date</th>
                        <th>deadline</th>
                        <th>client</th>
                        <th>cost</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let car of cars"
                        class="row-car" (click)="goToCarDetails(car)"
                        cs-car-table-row
                        [car]="car"
                        (removedCar)="onRemovedCar(car)"
                    >
                    </tr>
                </tbody>
            </table>

            <ng-template #noCarsInfo>
                <div class="no-cars-info">
                    <p>Currently no cars in service</p>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button (click)="showGross()" class="btn btn-primary btn-sm float-right">
                SHOW GROSS
            </button>
        </div>
    </div>
    <cs-total-cost #totalCostRef [totalCost]="totalCost" (shownGross)="onShownGross($event)"></cs-total-cost>

    <div class="row" *ngIf="grossCost > 0">
        <div class="col-sm-12">
            <div class="total-cost">
                <p class="text-right">TOTAL GROSS COST: {{grossCost}} PLN</p>
            </div>
        </div>
    </div>
</div>

<p class="data-header">Add a new car</p>

<div class="data-container">
  <form [formGroup]="carForm">
    <div class="row form-group">
      <div class="col-sm-4">
        <label>Model</label><br>
        <input formControlName="model" type="text" clss="form-control" placeholder="model">
        <p *ngIf="!carForm.get('model').valid && carForm.get('model').dirty" class="error">This field is required!</p>
      </div>
      <div class="col-sm-4">
        <label>Type</label><br>
        <input formControlName="type" type="text" clss="form-control" placeholder="type">
      </div>
      <div class="col-sm-4">
        <label>Plate</label><br>
        <input formControlName="plate" type="text" clss="form-control" placeholder="plate">
        <p *ngIf="!carForm.get('plate').valid && carForm.get('plate').dirty" class="error">This field is required and must contain 3-7 characters</p>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4">
        <label>Delivery date</label><br>
        <input formControlName="deliveryDate" type="text" clss="form-control" placeholder="delivery date">
      </div>
      <div class="col-sm-4">
        <label>Deadline</label><br>
        <input formControlName="deadline" type="text" clss="form-control" placeholder="deadline">
      </div>
      <div class="col-sm-4">
        <label>Is car fully damaged</label><br>
        <input formControlName="isFullyDamaged" type="checkbox" (change)="togglePlateValidity()">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-4">
        <label>Color</label><br>
        <input formControlName="color" type="text" clss="form-control" placeholder="color">
      </div>
      <div class="col-sm-4">
        <label>Power</label><br>
        <input formControlName="power" type="number" clss="form-control" placeholder="power">
        <p *ngIf="carForm.get('power').errors?.power && carForm.get('power').dirty" class="error">
          Power value must be between 50 PS and 800 PS!
        </p>
      </div>
      <div class="col-sm-4">
        <label>Cost</label><br>
        <input formControlName="cost" type="text" clss="form-control" placeholder="cost">
      </div>
    </div>


    <div class="row form-group">
      <div class="col-sm-4">
        <label>Client First Name</label><br>
        <input formControlName="clientFirstName" type="text" clss="form-control" placeholder="client first name">
      </div>
      <div class="col-sm-4">
        <label>Client Last Name</label><br>
        <input formControlName="clientSurname" type="text" clss="form-control" placeholder="clent last name">
      </div>
    <div class="col-sm-4">
      <label>Year</label><br>
      <input formControlName="year" type="text" clss="form-control" placeholder="year">
    </div>
  </div>

    <div class="row">
      <div class="col-sm-12">
        <button [disabled]="carForm.invalid" type="submit" (click)="addCar()" class="btn btn-primary float-right">
          Add car
        </button>
      </div>
    </div>
  </form>
</div>
